@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;    /* Optional: 100% of the viewport height */
  overflow-x: hidden;  /* Prevent horizontal scroll if any overflow */
}

.header {
  position: relative;
  z-index: 1;
}
.header img{
    width: 100vw;
  height: auto;             /* Maintain aspect ratio */
  display: block;
    
}

.loginForm{
    background-image: url(images/backgroung.webp);
  background-size: 100vw 110%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 35px;
  margin-top: 0px;  /* Increase if needed */
  z-index: 0;
}

.loginContent{
    padding: 45px 55px 30px;
    margin: auto;
    border: 2px solid black;
    background-color: #fff;
    border-radius: 10px;
    width: 500px;    
}

.login-title{
    display: block;
    padding-bottom: 49px;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}

.inputDiv{
    width: 100%;
    position: relative;
    margin-bottom: 9px;
    border-bottom: 2px solid #d9d9d9;
}

.inputDiv span{
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
    font-weight: 400;
}

#loginId, #loginPass{
    font-size: 18px;
    color: #333333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    background: transparent;
    padding: 0 7px 0 43px;
    border: none;
    outline: none;
}

.focus-input100 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 40px;
  display: flex;
  align-items: end;
  justify-content: center;
  
  pointer-events: none;
}

.focus-input100 i {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 22px;
  color: #adadad;
  padding-left: 13px;
  padding-bottom: 15px;
}

.inputDiv::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #7f7f7f;
  transition: all 0.4s;
}

.inputDiv:focus-within::before {
  width: 100%;
}

.inputDiv:focus-within .focus-input100 i {
  color: #7717f5; 
}

.loginBtn{
    padding: 5px 20px;
    margin-bottom: 17px;
    font-weight: 600;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    color: #000;
    line-height: 1.2;
    text-transform: uppercase;
}

.flex-c-m {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px;
}

.login100-social-item {
  font-size: 20px;
  color: white;
  width: 40px;
  height: 40px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  text-decoration: none;
}

.bg1 {
  background-color: #3b5998; /* Facebook Blue */
}

.bg2 {
  background-color: #1da1f2; /* Twitter Blue */
}

.bg3 {
  background-color: #db4437; /* Google Red */
}

/* Hover Effects */
.login100-social-item:hover {
  background-color: #333333;
  color: #f2f2f2;
    transform: scale(1.1);
  opacity: 0.9;
}


.sign-up{
    text-transform: uppercase; 
    text-align: center;
    
}

.or-sign{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    color: #333333;
    margin-top: 20px;

}

a{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    text-decoration: none;
}

a:hover{
    color: #a64bf4;
    text-decoration: none !important;
}

.forgot-pass {
    margin-bottom: 23px;
    text-align: right ;
}